* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  background-color: #1e1e1e;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /* шрифти берем з макету */
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  z-index: -2;
  /* максимальна ширина береться з макету */
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.timer::before {
  content: "";
  position: absolute;
  background-image: url(./img/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 826px;
  max-height: 100vh;
}

.timer {
  position: relative;
  background-image: linear-gradient(114.21deg, #232323 20.08%, #000000 96.12%),
    linear-gradient(114.21deg, #ffffff 20.08%, #dfe2e4 96.12%);
  overflow: hidden;
  padding-bottom: 85px;
}
.timer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timer__blur {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
  /* max-width: 733px; */
  /* width: 100%; */
  width: 700px;
  height: 700px;
  background-image: url(./img/Ellipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}

.blur {
  filter: blur(13px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.timer__img {
  width: 600px;
}
.timer__time {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.timer__text {
  width: 700px;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(
    92.1deg,
    #ffdea8 -92.57%,
    #ffffff -2.73%,
    #ffffff 98.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.timer__seconds {
  font-weight: 900;
  font-size: 125px;
  line-height: 152px;
  background: linear-gradient(32deg, #f9c704 27.24%, #f90404 338.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
  margin: 0 auto;
  text-shadow: 0px 4px 29px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .timer__blur {
    position: relative;
    min-width: 433px;
    width: 100%;
    max-height: 100%;
    background-position: center;
  }
  .timer__seconds {
    font-size: 80px;
  }
  .timer__time {
    display: flex;
    flex-direction: column;
    background-position: center;
  }
  .timer__text {
    font-size: 30px;
  }
  .timer__img {
    width: 400px;
    position: relative;
    right: 100px;
    top: 160px;
  }
  .timer__image {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 10%;
    bottom: 41%;
  }
}
@media screen and (max-width: 320px) {
  .timer__blur {
    min-width: 300px;
    width: 100%;
    max-height: 100%;
  }
  .timer__seconds {
    font-size: 60px;
  }
  .timer__time {
    display: flex;
    flex-direction: column;
    bottom: 65px;
  }
  .timer__text {
    font-size: 27px;
    max-width: 200px;
    width: 100%;
  }
  .timer__image {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5%;
    top: -3%;
  }
  .timer__img {
    width: 300px;
    top: 80px;
    left: 0;
  }
}

.about {
  min-height: 100vh;
  background-image: linear-gradient(114.21deg, #232323 20.08%, #000000 96.12%),
    linear-gradient(114.21deg, #ffffff 20.08%, #dfe2e4 96.12%);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.nav {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.231);
  backdrop-filter: blur(10px);
  padding: 5px 0;
  margin-bottom: 10px;
}
.menu-btn {
  display: none;
  z-index: 3;
}

.nav__list {
  display: flex;
  justify-content: center;
}
.nav__item {
  font-size: 20px;
  line-height: 24px;
  color: #5a5a5a;
}
.nav__item:hover {
  font-family: italic;
  color: #f8c704;
  transition: color 0.3s linear;
}
.nav__item {
  margin-left: 38px;
}
.nav__img {
  margin-left: 50px;
}

@media screen and (max-width: 992px) {
  .nav__list {
    display: none;
    position: absolute;
    right: -15px;
    top: 0px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(20px);
    padding: 150px 0 130px 0;
    height: 100vh;
    width: 320px;
    z-index: 2;
  }
  .nav__item {
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
  }
  .nav__active {
    display: flex;
  }
  .menu-btn {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 30px;
    position: absolute;
    right: 10px;
  }
  .menu__item {
    font-size: 0;
    height: 5px;
    width: 30px;
    background-color: #fff;
    display: block;
    position: relative;
    transition: all 0.3s linear;
  }
  .menu__item::before,
  .menu__item::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 30px;
    background-color: #fff;
  }
  .menu__item::before {
    top: 10px;
    left: 0;
  }
  .menu__item::after {
    bottom: 10px;
    left: 0;
  }
  .menu__active .menu__item {
    height: 0;
  }
  .menu__active .menu__item::before {
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
  .menu__active .menu__item::after {
    transform: rotate(45deg);
    top: 0;
    left: 0;
  }
}

.about__title {
  position: relative;
  font-size: 140px;
  line-height: 171px;
  color: #fff;
  text-shadow: -10px 10px 0 #1e1e1e;
}
.about__title-shadow {
  position: absolute;
  font-size: 137px;
  line-height: 171px;
  color: #1e1e1e;
  z-index: -1;
}
.about__subtitle {
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  max-width: 285px;
  width: 100%;
}
.about__subtitle-word {
  color: gray;
  font-size: 28px;
}
.about__programs {
  display: flex;
  flex-direction: column;
  margin-top: 323px;
}
.about__link {
  margin-bottom: 38px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.about__programs:last-child {
  margin-bottom: 0;
}
.bid__image {
  position: absolute;
  max-width: 780px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  display: flex;
  justify-content: space-between;
}
.small-image {
  position: static;
  display: flex;
  flex-direction: column;
  max-height: 225px;
  max-width: 175px;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
}
.programs__inner {
  display: flex;
  justify-content: space-between;
}

.about__button {
  background-color: #f8c104;
  position: relative;
  border-radius: 50%;
  display: block;
  max-width: 194px;
  width: 100%;
  height: 194px;
  color: #0d0d0d;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-weight: 100;
  margin-top: 422px;
  cursor: pointer;
}

.about__button::before {
  background-image: url(./img/fingerprint.svg);
  background-repeat: no-repeat;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  content: "";
  top: 111px;
  width: 52px;
  height: 52px;
  display: none;
}
.about__button:active.about__button::before {
  display: block;
}

.remains__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}
.about__subtitle-number {
  color: #f8c704;
  font-size: 20px;
  font-weight: 400;
}
.small-image {
  display: flex;
  flex-direction: column-reverse;
  /* border: #fff; */
  border: 1px solid #212121;
  border-radius: 32px;
  background-color: #212121;
}
@media screen and (max-width: 1040px) {
  .about__title {
    position: relative;
    font-size: 110px;
    line-height: 171px;
    color: #fff;
  }
  .about__title-shadow {
    position: absolute;
    font-size: 107px;
    line-height: 171px;
    color: #1e1e1e;
    z-index: -1;
  }
  .big__img {
    max-width: 580px;
  }
  .about__button {
    margin-top: 280px;
  }
  .about__programs {
    margin-top: 250px;
  }
  .nav__list {
    padding-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .big__img {
    max-width: 492px;
  }
  .small-image {
    width: 121px;
    height: 137px;
  }
  .bid__image {
    top: 270px;
  }
  .remains__text {
    font-size: 14px;
  }
  .about__subtitle-number {
    font-size: 14px;
  }
  .small-img {
    width: 85px;
  }
  .about__title {
    font-size: 50px;
  }
  .about__button {
    margin-top: 384px;
    max-width: 165px;
    max-height: 165px;
  }
}
@media screen and (max-width: 320px) {
  .big__img {
    max-width: 280px;
  }
  .about__titles {
    position: absolute;
    left: 70px;
    top: 40px;
  }
  .about__subtitle {
    position: absolute;
    top: 120px;
    text-align: center;
  }
  .about__programs {
    display: none;
  }
  .about__button {
    margin-top: 500px;
    max-width: 100px;
    max-height: 100px;
    left: 95px;
  }
  .small-img {
    display: none;
  }
  .small-image {
    height: 35px;
    position: absolute;
    top: 300px;
    left: 190px;
  }
  .remains__text {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 10px;
  }
  .about__title-shadow {
    font-size: 50px;
    bottom: -10px;
    left: 70px;
  }
}

.product {
  min-height: 100vh;
  background-color: #1e1e1e;
}
.product__all-inner {
  display: flex;
}
.product__inner {
  display: flex;
  justify-content: center;
  margin-right: 155px;
}
.product__programs {
  display: flex;
  flex-direction: column;
}
.product__link {
  margin-bottom: 38px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-family: italic;
}
.product__programs:last-child {
  margin-bottom: 0;
}
.nav-mod1 {
  margin-bottom: 4px;
}
.product__descr-inner {
  max-width: 883px;
  width: 100%;
  border-radius: 40px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.product__foto-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product__foto-item {
  border-radius: 26px;
  background-color: #e2e2e2;
  height: 235px;
  width: 405px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__foto-item:first-child {
  margin-top: 54px;
}
.product__foto-item:last-child {
  margin-bottom: 0;
}
.product__foto-text {
  color: #232323;
  font-size: 20px;
  font-weight: 400;
}
.product__descr-item {
  max-width: 341px;
  width: 100%;
}
.product__small-item {
  display: flex;
}
.product__descr-price {
  color: #fff;
  font-size: 60px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 21px;
}
.fix-line {
  width: 29px;
}
.product__descr-list {
  margin: 40px;
}
.product__descr-button {
  border-radius: 122px;
  background: #f8c104;
  width: 341px;
  height: 59px;
  color: #0d0d0d;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  cursor: pointer;
  margin-bottom: 54px;
}
.product__descr-descr {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 8px;
}
.product__descr {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 54px;
  font-family: italic;
}
.product__tex-inner {
  max-width: 230px;
  width: 100%;
  max-height: 165px;
  height: 100%;
  border-radius: 40px;
  border: 1px solid #fff;
  margin: 20px;
  padding: 35px;
}
.product__small-textLeft {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
.product__small-textRight {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: italic;
}
.product__data-text {
  font-size: 28px;
  font-style: italic;
  color: #f8c104;
  font-weight: 100;
  margin-bottom: 10px;
}
.product__data-number {
  color: #fff;
  margin-bottom: 10px;
  display: flex;
}
.product__data-mail {
  color: #fff;
  margin-bottom: 10px;
  display: flex;
}

.product__tex-button {
  max-width: 230px;
  width: 100%;
  max-height: 50px;
  height: 100%;
}
.product__tex-button-button {
  border-radius: 122px;
  border: 1px solid #f8c104;
  max-width: 230px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  margin-left: 20px;
  background-color: #1e1e1e;
  color: #f8c104;
  font-size: 20px;
}
.product__tex-button-img {
  max-width: 30px;
  max-height: 30px;
}

@media screen and (max-width: 1440px) {
  .product__inner {
    margin-right: 80px;
  }
}
@media screen and (max-width: 768px) {
  .product__foto-item:nth-child(2) {
    display: none;
  }
  .product__foto-item:nth-child(3) {
    display: none;
  }
  .product__foto-item {
    max-width: 366px;
    max-height: 185px;
  }
  .product__foto-list {
    align-items: center;
    justify-content: center;
  }
  .product__descr-inner {
    max-width: 507px;
    flex-direction: column;
    padding: 20px;
  }
  .product__inner {
    margin-right: 50px;
  }
  .product__tex-inner {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .product__foto-item {
    max-height: 185px;
    max-width: 236px;
  }
  .product__foto-item:first-child {
    margin-top: 15px;
  }
  .product__all-inner {
    flex-direction: column;
  }
  .product__descr-button {
    max-width: 200px;
    max-height: 75px;
    margin-left: -15px;
  }
  .product__programs {
    flex-direction: row;
    gap: 15px;
  }
  .product__small-line {
  }
}

.delivery__info-info {
  color: #f8c104;
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 5px;
}
.delivery__info-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-size: 400;
  margin-bottom: 30px;
}

.delivery__info-rule {
  color: #f8c104;
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 10px;
  text-decoration: underline;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  color: rgba(226, 226, 226, 0.33);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 10px;
}

/* views */

.views__descr-inner {
  max-width: 883px;
  width: 100%;
  height: 165px;
  border-radius: 40px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.views__list-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.views__list-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-style: italic;
  font-weight: 100;
  line-height: normal;
  margin-left: 50px;
}

.views__list-button {
  border-radius: 122px;
  background: #f8c104;
  width: 281px;
  height: 49px;
  color: #0d0d0d;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  cursor: pointer;
  justify-content: center;
  margin-left: 90px;
  color: #0d0d0d;
}
